language: go

go:
  - 1.9.x
  - 1.10.x
  - 1.11.x
  - 1.12.x
  - master
install:
  - go get github.com/Shopify/sarama
  - go get github.com/json-iterator/go
  - go get gopkg.in/go-playground/validator.v9
  - go get github.com/labstack/echo
  - go get github.com/go-xorm/xorm
  - go get github.com/spf13/viper
  - go get github.com/asaskevich/govalidator
  - go get github.com/dgrijalva/jwt-go
  - go get github.com/sirupsen/logrus
  - go get github.com/pangpanglabs/goutils/...
  - go get github.com/go-sql-driver/mysql
  - go get github.com/opentracing/opentracing-go
  - go get github.com/openzipkin/zipkin-go-opentracing
  - go get github.com/pangpanglabs/echoswagger
services:
  - mysql
before_script:
  - echo "USE mysql;\nUPDATE user SET password=PASSWORD('1234') WHERE user='root';\nFLUSH PRIVILEGES;\n" | mysql -u root
  - mysql -e "create database IF NOT EXISTS fruit;"
script: go test -coverprofile=coverage.txt -covermode=atomic github.com/relax-space/go-api/...
after_success:
  - bash <(curl -s https://codecov.io/bash)