database:
  driver: mysql
  connection: fruit:1234@tcp(10.173.208.142:3307)/fruit?charset=utf8&parseTime=True&loc=UTC
  logger:
    kafka:
      brokers:
        - 10.173.208.142:9092
      topic: sqllog
behaviorLog:
  kafka:
    brokers:
      - 10.173.208.142:9092
    topic: behaviorlog
serviceName: go-api
httpport: 8080